.body {
  display: grid;
  grid-template:
    '. header  header .' auto
    '. sidebar main   .' 1fr
    'footer footer footer footer' auto / auto 230px minmax(320px, 1200px) auto;
  gap: 40px 30px;
  min-height: 100vh;
}

.header {
  display: none;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (width <= 765px) {
  .body {
    grid-template-areas:
      'header'
      'main '
      'footer';
    grid-template-columns: minmax(320px, 1fr);
    gap: 10px;
  }

  .sidebar {
    display: none !important;
  }

  .header {
    display: block;
  }

  .main {
    padding: 15px;
  }
}
